.form-field {
  width: 500px;
  margin-right: 10px;
}

.container {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.but {
  margin-right: 10px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}